# Root -------------------------------------------------------------
tiny-yolov3/
tiny-yolov3.pt
runs/
z


# Backend ----------------------------------------------------------
apis/live_api/env
apis/live_api/footages

apis/video_api/env
apis/video_api/uploads
apis/video_api/predict
apis/video_api/processed


# Model
model/env
model/output
model/footages
yolo11n.pt
yolo12n.pt
yolov8n.pt


# Frontends ---------------------------------------------------------

# Cloud ----------------------------------------
# dependencies
frontends/cloud/node_modules/
frontends/cloud/.pnp
frontends/cloud/.pnp.*
frontends/cloud/.yarn/*
frontends/cloud/!.yarn/patches
frontends/cloud/!.yarn/plugins
frontends/cloud/!.yarn/releases
frontends/cloud/!.yarn/versions

# testing
frontends/cloud/coverage

# next.js
frontends/cloud/.next/
frontends/cloud/out/

# production
frontends/cloud/build

# misc
frontends/cloud/.DS_Store
frontends/cloud/*.pem

# debug
frontends/cloud/npm-debug.log*
frontends/cloud/yarn-debug.log*
frontends/cloud/yarn-error.log*
frontends/cloud/.pnpm-debug.log*

# env files (can opt-in for committing if needed)
frontends/cloud/.env*

# vercel
frontends/cloud/.vercel

# typescript
frontends/cloud/*.tsbuildinfo
frontends/cloud/next-env.d.ts

# Local ----------------------------------------
# dependencies
frontends/local/node_modules/
frontends/local/.pnp
frontends/local/.pnp.*
frontends/local/.yarn/*
frontends/local/!.yarn/patches
frontends/local/!.yarn/plugins
frontends/local/!.yarn/releases
frontends/local/!.yarn/versions

# testing
frontends/local/coverage

# next.js
frontends/local/.next/
frontends/local/out/

# production
frontends/local/build

# misc
frontends/local/.DS_Store
frontends/local/*.pem

# debug
frontends/local/npm-debug.log*
frontends/local/yarn-debug.log*
frontends/local/yarn-error.log*
frontends/local/.pnpm-debug.log*

# env files (can opt-in for committing if needed)
frontends/local/.env*

# vercel
frontends/local/.vercel

# typescript
frontends/local/*.tsbuildinfo
frontends/local/next-env.d.ts
