# Root -------------------------------------------------------------
tiny-yolov3/
tiny-yolov3.pt
runs/
z


# Backend ----------------------------------------------------------
apis/live_api/env
apis/live_api/footages

apis/video_api/env
apis/video_api/uploads
apis/video_api/predict
apis/video_api/processed


# Model
model/env
model/output
model/footages
yolo11n.pt
yolo12n.pt
yolov8n.pt


# Frontend ---------------------------------------------------------

# Cloud ----------------------------------------
# dependencies
frontend/cloud/node_modules/
frontend/cloud/.pnp
frontend/cloud/.pnp.*
frontend/cloud/.yarn/*
frontend/cloud/!.yarn/patches
frontend/cloud/!.yarn/plugins
frontend/cloud/!.yarn/releases
frontend/cloud/!.yarn/versions

# testing
frontend/cloud/coverage

# next.js
frontend/cloud/.next/
frontend/cloud/out/

# production
frontend/cloud/build

# misc
frontend/cloud/.DS_Store
frontend/cloud/*.pem

# debug
frontend/cloud/npm-debug.log*
frontend/cloud/yarn-debug.log*
frontend/cloud/yarn-error.log*
frontend/cloud/.pnpm-debug.log*

# env files (can opt-in for committing if needed)
frontend/cloud/.env*

# vercel
frontend/cloud/.vercel

# typescript
frontend/cloud/*.tsbuildinfo
frontend/cloud/next-env.d.ts

# Local ----------------------------------------
# dependencies
frontend/local/node_modules/
frontend/local/.pnp
frontend/local/.pnp.*
frontend/local/.yarn/*
frontend/local/!.yarn/patches
frontend/local/!.yarn/plugins
frontend/local/!.yarn/releases
frontend/local/!.yarn/versions

# testing
frontend/local/coverage

# next.js
frontend/local/.next/
frontend/local/out/

# production
frontend/local/build

# misc
frontend/local/.DS_Store
frontend/local/*.pem

# debug
frontend/local/npm-debug.log*
frontend/local/yarn-debug.log*
frontend/local/yarn-error.log*
frontend/local/.pnpm-debug.log*

# env files (can opt-in for committing if needed)
frontend/local/.env*

# vercel
frontend/local/.vercel

# typescript
frontend/local/*.tsbuildinfo
frontend/local/next-env.d.ts
