# Root -------------------------------------------------------------
tiny-yolov3/
tiny-yolov3.pt
runs/
z


# Backend ----------------------------------------------------------
apis/live_api/env

apis/video_api/env
apis/video_api/uploads
apis/video_api/processed_videos
apis/video_api/predict
apis/video_api/processed


# Model
model/env
model/output
model/footages
yolo11n.pt
yolo12n.pt
yolov8n.pt


# Frontend ---------------------------------------------------------

# dependencies
frontend/node_modules/
frontend/.pnp
frontend/.pnp.*
frontend/.yarn/*
frontend/!.yarn/patches
frontend/!.yarn/plugins
frontend/!.yarn/releases
frontend/!.yarn/versions

# testing
frontend/coverage

# next.js
frontend/.next/
frontend/out/

# production
frontend/build

# misc
frontend/.DS_Store
frontend/*.pem

# debug
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/.pnpm-debug.log*

# env files (can opt-in for committing if needed)
frontend/.env*

# vercel
frontend/.vercel

# typescript
frontend/*.tsbuildinfo
frontend/next-env.d.ts
